<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>R3P تحالف</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.come/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <h1>WELCOME TO R3P !</h1>


    <div class="nav-container">
        <a href="/search" class="magic-btn">🔍 بحث</a>
        <a href="/reports" class="magic-btn">📊 التقارير</a>
        <a href="/admins" class="magic-btn">🛡️ المسؤولين</a>

        {% if session.get('is_admin') %}
            <a href="/add" class="magic-btn">➕ إضافة لاعب</a>
        {% endif %}
    </div>

    <div style="position: absolute; top: 10px; right: 10px; opacity: 0.5;">
        {% if not session.get('is_admin') %}
            <a href="/login" style="color: rgb(2, 2, 2); text-decoration: none; font-size: 12px;">🔑 دخول الإدارة</a>
        {% else %}
            <span style="color: #4ecca3; font-size: 12px;">مرحباً يا قائد | </span>
            <a href="/logout" style="color: #e94560; font-size: 12px; text-decoration: none;">تسجيل خروج</a>
        {% endif %}
    </div>
    <button id="rulesBtn" class="side-icon" style="top: 80px;">
        <i class="fas fa-question-circle"></i>
    </button>
    
    <div id="rulesModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 style="color: #ffd700;">📜 قواعد التحالف</h2>
            <ul style="text-align: right; line-height: 2;">
                <li>القاعدة الأولى: الالتزام بالصيد اليومي.</li>
                <li>القاعدة الثانية: احترام جميع القادة والزملاء.</li>
                <li>القاعدة الثالثة: المشاركة في الأحداث الجماعية.</li>
            </ul>
        </div>
    </div>
    <script>
                const modal = document.getElementById("rulesModal");
        const btn = document.getElementById("rulesBtn");
        const span = document.getElementsByClassName("close")[0];

        btn.onclick = () => modal.style.display = "block";
        span.onclick = () => modal.style.display = "none";
        window.onclick = (event) => {
            if (event.target == modal) modal.style.display = "none";
        }
    </script>

</body>
</html>
